div.answers-container 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
button.answer-btn
{
    flex-basis:33%;
}
section.quiz-container
{
    width: 90vw;
}
@media screen and (max-width:768px) {
    div.answers-container 
    {
        flex-direction: column;
    }
    button.answer-btn
    {
        white-space: nowrap;
        width: 100% !important;
        font-size: 12px;
    }
    button.btn.quiz-questinnare-submit
    {
        width:auto !important;
    }
  }